html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root, #App{
  height: 100%;
}

#App {
  display: flex;
  flex-direction: column;
}

#Nav{
  min-height: 80px;
  visibility: hidden;
}

#Calendar{
  margin: auto;
}

#Footer{
  min-height: 80px;
}

#MonthPicker {
  cursor: pointer;
  display: flex;
  font-size: 30px;
  padding-bottom: 40px;
  color: black;
  text-shadow: 1px 1px white;
  flex-direction: row;
  justify-content: space-around;
  width: 50%;
  margin:auto;
}

#month-select-left{
  user-select: none;
}

#month-select-right{
  user-select: none;
}

#month-select-left:hover{
  color: blue;
}

#month-select-right:hover{
  color: blue;
}

#month-select-left:active{
  color: black;
}

#month-select-right:active{
  color: black;
}


#Month{
  flex-grow: 1;
  background-color: gray;
}

#Week{
  border: 2px solid black;
  border-top: none;
}

#Week:first-child{
  border-top: 2px solid black;
}

#Day{
  height: 110px;
  width: 130px;
  border-right: 2px solid black;
}

#Day:hover {
  background-color: blue !important;
}

#Day:nth-child(7){
  border-right: none;
}
