html,body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root, #App{
  height: 100%;
}

#App {
  display: flex;
  flex-direction: column;
}

#Nav{
  min-height: 80px;
  visibility: hidden;
}

#Calendar{
  margin: auto;
}

#Footer{
  min-height: 80px;
}

#Month{
  flex-grow: 1;
  background-color: gray;
}

#Week{
  border: 2px solid black;
  border-top: none;
}

#Week:first-child{
  border-top: 2px solid black;
}

#Week:last-child{

}

#Day{
  height: 110px;
  width: 130px;
  border-right: 2px solid black;
  /* border: 2px solid black; */
}
